---
import './shedule.css';
---

<div class="m-auto max-w-7xl xl:p-10 sm:p-3">
  <div class="shedule-title text-center p-5">CALENDARIO</div>
  <div class="cards-container p-3">
    <div>
      <p>Lun.</p>
      <span>11:30 a 22:30</span>
    </div>
    <div>
      <p>Mar.</p>
      <span>11:30 a 22:30</span>
    </div>
    <div>
      <p>Miér.</p>
      <span>11:30 a 22:30</span>
    </div>
    <div>
      <p>Jue.</p>
      <span>11:30 a 22:30</span>
    </div>
    <div>
      <p>Vier.</p>
      <span>11:30 a 22:30</span>
    </div>
    <div>
      <p>Sáb.</p>
      <span>11:30 a 22:30</span>
    </div>
  </div>
  <div class="sunday-container flex justify-center p-5">
    Domingo: cerramos
  </div>
</div>
