---
import './services.css';
import Image from '@/components/my_images/Image.astro';
import piercing from 'public/img/coloured_piercing.png';
import servicesJson from '@/data/services.json';
import ServicesList from './services_list/ServicesList.astro';
---

<div class="services-title">
  SERVICIOS
  <div class="flex justify-center">
    <Image
      src={piercing.src}
      width={50}
      height={80}
      alt="piercing icon"
      class="mx-4"
    />
  </div>
</div>
<div class="services-list grid justify-center lg:grid-cols-3 sm:grid-cols-2">
  <div class="p-3">
    <ServicesList
      services={servicesJson.services.filter(
        (service) => service.name === 'Oreja'
      )}
    />
  </div>
  <div class="p-3">
    <ServicesList
      services={servicesJson.services.filter(
        (service) => service.name === 'Rostro'
      )}
    />
  </div>
  <div class="p-3 sm:col-span-2 lg:col-span-1">
    <ServicesList
      services={servicesJson.services.filter(
        (service) => service.name === 'Body'
      )}
    />
  </div>
</div>
