---
import Drop from '@/components/my_icons/Drop.astro';
import './sitesMenu.css';
---

<ul
  class="sites items-center flex flex-col my-2 lg:mb-0 lg:mt-0 lg:flex-row lg:gap-2"
>
  <li>
    <a href="/#about"> Sobre mí </a>
  </li>
  <li>
    <a href="/#services"> Servicios </a>
  </li>
  <li>
    <a type="button">
      <div class="flex justify-center items-center">
        <p class="mb-0 mr-1">Piercings</p>
        <Drop />
      </div>
    </a>
    <div uk-dropdown="offset: 10">
      <ul class="uk-nav uk-dropdown-nav">
        <li><a href="/body-piercing"> Body Piercing </a></li>
        <li><a href="/ear-piercing"> Piercing en la oreja</a></li>
        <li><a href="/face-piercing"> Piercing de cara</a></li>
        <li><a href="/genitals-piercing"> Piercing genitales</a></li>
      </ul>
    </div>
  </li>
  <li>
    <a href="/#testimonials"> Testimonios </a>
  </li>
  <li>
    <a href="/#shedule">Calendario </a>
  </li>
</ul>
