.ab-title {
  font-family: 'Alfa Slab One';
  font-size: 1.5rem;
  text-align: center;
  color: #bf9456;
}

.ab-experience {
  padding: 0.375rem;
  font-family: 'Alfa Slab One';
  font-size: 3rem;
  text-align: center;
  color: #3a3a3a;
}

.ab-experience-sub {
  text-align: center;
  color: #bf9456;
  font-family: 'Alfa Slab One';
  font-size: 1.5rem;
}

.image2-container {
  bottom: -2rem;
  left: 20%;
  position: absolute;
}

.image1 {
  max-width: 20rem;
  border: 0.3rem solid white;
}

.image2 {
  max-width: 10rem;
  border: 0.375rem solid white;
}

.video-container {
    margin: 2rem 2rem;
  }

@media (width <= 23.438rem) {
  .ab-experience {
    font-size: 2rem;
  }

}

@media (width < 56.25rem ) {
  
}

@media (width > 36rem) {
  .image1 {
    max-width: 28rem;
  }
  .image2 {
    max-width: 9rem;
  }

}

@media (width > 64rem) {
  .image1 {
    width: 100%;
    max-width: 32rem;
  }

  .image2-container {
    bottom: -2.5rem;
    left: 10%;
  }
}
