.ab-title {
  font-family: var(--title-font);
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-color);
}

.ab-experience {
  padding: 0.375rem;
  font-family: var(--title-font);
  font-size: 3rem;
  text-align: center;
  color: #3a3a3a;
}

.ab-experience-sub {
  text-align: center;
  color: var(--main-color);
  font-family: var(--title-font);
  font-size: 1.5rem;
}

.image2-container {
  bottom: -2rem;
  left: 20%;
  position: absolute;
}

.image1 {
  max-width: 20rem;
  border-radius: 1%;
  margin: auto;
}

.image2 {
  max-width: 10rem;
  border-radius: 50%;
}

@media (width <= 23.438rem) {
  .ab-experience {
    font-size: 2rem;
  }
}

@media (width < 56.25rem) {
}

@media (width > 36rem) {
  .image1 {
    max-width: 25rem;
  }
  .image2 {
    max-width: 9rem;
  }
}

@media (width > 64rem) {
  .image1 {
    width: 100%;
  }

  .image2-container {
    bottom: -2.5rem;
    left: 10%;
  }
}
