---
import Gallery from '@/components/gallery/Gallery.astro';
import Navbar from '@/components/header/navbar/Navbar.astro';
import Layout from '@/layouts/Layout.astro';
import bodyImagesJSON from '@/data/images_info/bodyImages.json';
import SocialMedias from '@/components/social_medias/SocialMedias.astro';
import Subheader from '@/components/subheader/Subheader.astro';

const bodyImages = bodyImagesJSON;
---

<Layout title="Body-piercing || Galería">
  <header slot="header">
    <Navbar />
    <Subheader>
      <div slot="page-title" class="page-title">Piercing por el cuerpo</div>
      <div slot="page-description" class="page-description">
        Los piercings corporales son una forma de modificación corporal que
        puede ser tanto estética como cultural. Este tipo de perforaciones
        incluye una variedad de áreas del cuerpo, como el ombligo, los pezones,
        la clavícula, y más. Cada tipo de piercing corporal tiene su propio
        proceso de cicatrización y cuidados específicos. Los piercings
        corporales permiten una amplia expresión de estilo personal y pueden
        resaltar diferentes partes del cuerpo de manera única. Es esencial
        seguir las recomendaciones de un profesional para asegurar una correcta
        cicatrización y minimizar el riesgo de infecciones.
      </div>
    </Subheader>
  </header>
  <main slot="main">
    <Gallery images={bodyImages} />
    <SocialMedias name="piercing corporales" />
  </main>
</Layout>
