---
import Gallery from '@/components/gallery/Gallery.astro';
import Navbar from '@/components/header/navbar/Navbar.astro';
import SubHeader from '@/components/sub_header/SubHeader.astro';
import Layout from '@/layouts/Layout.astro';
import genitalImagesJSON from '@/data/images_info/genitalImages.json';
import SocialMedias from '@/components/social_medias/SocialMedias.astro';

const genitalImages = genitalImagesJSON;
---

<Layout title="Piercing-genitales || Galería">
  <header slot="header">
    <Navbar />
    <SubHeader>
      <div slot="title" class="page-title">Piercing en el rostro</div>
      <div slot="description" class="page-description w-72">
        El piercing en la lengua suele hacerse por simple estética o por placer
        sexual. Al principio genera una importante inflamación, pero al mismo
        tiempo es uno de los más rápidos en cicatrizar.
      </div>
    </SubHeader>
  </header>
  <main slot="main">
    <Gallery images={genitalImages} />
    <SocialMedias />
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const openLightBox = (event: MouseEvent) => {
      const target = event.target as HTMLElement;
      const imageId = target.getAttribute('data-image-id');
      const explicitImageLink = document.getElementById(imageId!);
      if (explicitImageLink) {
        explicitImageLink.click();
      }
    };

    const hiddenInput = document.querySelector('.hidden-input');
    if (hiddenInput) {
      const event = new MouseEvent('click', {
        view: window,
        bubbles: true,
        cancelable: true
      });
      hiddenInput.dispatchEvent(event);
    }

    const showImageButtons = document.querySelectorAll(
      '.show-image'
    ) as NodeListOf<HTMLElement>;
    showImageButtons.forEach((imageButton) => {
      imageButton.addEventListener('click', openLightBox);
    });

    document.querySelector('.back-btn')?.addEventListener('click', () => {
      location.replace('index.html');
    });
  });
</script>
