---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/header/Header.astro';
import About from '@/components/about_me/About.astro';
import Services from '@/components/my_services/Services.astro';
import Gallery from '@/components/gallery/Gallery.astro';
import Footer from '@/components/footer/Footer.astro';
import WhatsAppButton from '@/components/whatsapp_button/WhatsAppButton.astro';
---

<Layout title="Katapiercing || Home">
  <header>
    <Header />
  </header>
  <main>
    <section>
      <About />
    </section>
    <section class="dark-section text-white m-auto">
      <div class="m-auto max-w-5xl py-10">
        <Services />
      </div>
    </section>
    <section>
      <Gallery />
    </section>
    <WhatsAppButton />
  </main>
  <footer class="dark-section">
    <Footer />
  </footer>
</Layout>
