---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import About from '../components/about_me/About.astro';
import Services from '@/components/my_services/Services.astro';
---

<Layout title="Katapiercing || Home">
  <header>
    <Header />
  </header>
  <main>
    <section>
      <About />
    </section>
    <section class="dark-section text-white">
      <Services />
    </section>
  </main>
</Layout>

<style is:global>
  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/Open_Sans/static/OpenSans_Condensed-Medium.ttf');
  }

  @font-face {
    font-family: 'Alfa Slab One';
    src: url('/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
  }

  .dark-section {
    background-color: #242424;
  }
</style>
