---
import Layout from '@/layouts/Layout.astro';
import About from '@/components/about_me/About.astro';
import Services from '@/components/my_services/Services.astro';
import Header from '@/components/header/Header.astro';
import Carrousel from '@/components/carrousel/Carrousel.astro';
import Shedule from '@/components/shedule/Shedule.astro';
import Genital from '@/components/genital_section/Genital.astro';
---

<Layout title="Katapiercing || Home">
  <header slot="header">
    <Header />
  </header>
  <main slot="main">
    <section>
      <About />
    </section>
    <section class="dark-section text-white m-auto" id="services">
      <div class="m-auto max-w-7xl py-10" uk-parallax="opacity: 0,9">
        <Services />
      </div>
    </section>
    <section class="m-auto max-w-5xl p-8">
      <Genital />
    </section>
    <section uk-parallax="opacity: 0,7" id="testimonials">
      <Carrousel />
    </section>
    <section uk-parallax="opacity: 0,7" id="shedule">
      <Shedule />
    </section>
  </main>
</Layout>
