---
import Layout from '@/layouts/Layout.astro';
import About from '@/components/about_me/About.astro';
import Services from '@/components/my_services/Services.astro';
import Gallery from '@/components/gallery/Gallery.astro';
import Header from '@/components/header/Header.astro';
import Carrousel from '@/components/carrousel/Carrousel.astro';
---

<Layout title="Katapiercing || Home">
  <header slot="header">
    <Header />
  </header>
  <main slot="main">
    <section>
      <About />
    </section>
    <section class="dark-section text-white m-auto" id="services">
      <div class="m-auto max-w-5xl py-10" uk-parallax="opacity: 0,9">
        <Services />
      </div>
    </section>
    <section uk-parallax="opacity: 0,9">
      <Gallery />
    </section>
    <section uk-parallax="opacity: 0,7">
      <Carrousel />
    </section>
  </main>
</Layout>
