---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import About from '../components/about_me/About.astro';
---

<Layout title="Katapiercing || Home">
  <header>
    <Header />
  </header>
  <main>
    <section>
      <About />
    </section>
  </main>
</Layout>

<style is:global>
  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/Open_Sans/static/OpenSans_Condensed-Medium.ttf');
  }

  @font-face {
    font-family: 'Alfa Slab One';
    src: url('/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
  }
</style>
