.reviews-title {
  font-family: var(--title-font);
  color: var(--main-color);
  text-align: center;
  font-size: 3rem;
}

.section-background {
  background-image: url('/img/background-testimonials.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  background-color: #f4f4f4;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.reviews-anchor {
  font-family: var(--title-font);
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--main-color);
  transition: color 0.1s ease-in-out;
}

.reviews-anchor:hover {
  color: white;
  text-decoration: none;
}

.rating_string {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
}

.slide-icon-prev {
  color: var(--main-color) !important;
  margin: 0;
}

.slide-icon-next {
  color: var(--main-color) !important;
  margin: 0;
}

@media (width < 31.25rem) {
  .reviews-title {
    font-size: 10vw;
  }
  .snippet-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
