---
import reviewsJson from '@/data/reviews.json';
import Image from '@/components/my_images/Image.astro';
import './carrousel.css';
---

<div class="section-background">
  <div class="reviews-title pt-10">TESTIMONIOS</div>
  <div class="text-center text-white flex items-center justify-center">
    <div class="mx-3">
      <Image src="img/google_logo.png" alt="Logo de google" width={30} />
    </div>
    <div>
      <div class="rating_string">Excelente</div>
      <Image
        class="m-auto"
        src="img/five_starts.png"
        alt="5 estrellas"
        width={100}
      />
    </div>
  </div>
  <div class="text-white text-center pb-3">
    Basado en {reviewsJson.location_info.totalReviews}
  </div>
  <div class="px-10 max-w-xl m-auto uk-position-relative">
    <div class="uk-visible-toggle uk-light" uk-slider="sets: true">
      <div class="uk-slider-items">
        {
          reviewsJson.reviews.map((review) => (
            <div class="mx-1 my-10 bg-white rounded-2xl cursor-grabbing ">
              <div class="p-3 flex justify-center">
                <p class="name text-2xl m-0 border-b-[#242420] border-b">
                  {' '}
                  {review.name}{' '}
                </p>
              </div>
              <div class=" flex justify-center">
                {review.rating === '5.0' ? (
                  <Image
                    src="img/five_starts.png"
                    alt="5 estrellas"
                    width={120}
                  />
                ) : null}
              </div>
              <div class="snippet-container flex flex-col justify-center text-justify select-none px-10 mt-2">
                <p class="testimonial italic text-black">{review.snippet}</p>
              </div>
            </div>
          ))
        }
      </div>
      <a
        class="slide-icon-prev uk-position-center-left uk-position-small"
        uk-slidenav-previous
        uk-slider-item="previous"></a>
      <a
        class="slide-icon-next uk-position-center-right uk-margin-medium-left uk-position-small"
        uk-slidenav-next
        uk-slider-item="next"></a>
    </div>
  </div>
</div>
