---
import Image from '../my_images/Image.astro';
import error404 from './error404.css';
import logoProvisional from 'public/img/logo_provisional.png';
---

<div class="h-screen bg-gray-100 flex flex-col items-center py-40 px-20">
  <div>
    <Image
      src={logoProvisional.src}
      alt="Logo de la empresa"
      height={200}
      width={200}
    />
  </div>
  <div
    class="container flex flex-col md:flex-row items-center justify-center px-5 text-gray-700"
  >
    <div class="max-w-md m-auto">
      <div class="text-5xl text-red-500 font-dark font-bold text-center">
        404
      </div>
      <p class="text-2xl md:text-3xl font-light leading-normal">
        Lamentamos comunicarle que no pudimos encontrar la p치gina especificada
      </p>
      <p class="mt-2 mb-8">
        Pero no te preocupes, puedes volver a la p치gina inicial y ver m치s
        informaci칩n
      </p>
    </div>
  </div>
</div>
