---
import Navbar from './navbar/Navbar.astro';
import './header.css';
---

<header>
  <div class="main-container d-grid align-items-center">
    <Navbar />
    <div class="text-nav">
      <div class="main-text text-center text-white">ESLOGAN/TITULO</div>
      <div class="subt-text text-center">Añadir un subtítulo</div>
    </div>
  </div>
</header>
