.main-container {
  background-image: url('img/background-header_v1.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}

.subt-text {
  font-family: 'Open sans';
  color: white;
  font-size: 3rem;
}

@media (width < 34.375rem) {
  .main-container {
    background-position-x: -10rem;
  }
}

@media (width < 26.563rem) {
  .main-container {
    background-position-x: -20rem;
  }
}
