---
import Navbar from './navbar/Navbar.astro';
import Image from '@/components/my_images/Image.astro';
import './header.css';
---

<div class="main-container">
  <Navbar />
  <div class="header-container p-28">
    <div class="header-content rounded-xl p-10">
      <div class="flex justify-center items-center mt-10">
        <Image
          src="img/Katapiercing_logo.png"
          alt="Logo de la empresa"
          width={250}
          class="bg-white rounded-full px-4"
        />
      </div>
      <div class="subt-text text-center my-4">Professional Body Piercing</div>
      <div class="header-description">
        Experiencia y calidad en cada perforación
      </div>
    </div>
  </div>
</div>
