---
import Navbar from './navbar/Navbar.astro';
import './header.css';
---

<div class="main-container">
  <Navbar />
  <div class="pt-32">
    <div class="main-text text-center text-white">ESLOGAN/TITULO</div>
    <div class="subt-text text-center">Añadir un subtítulo</div>
  </div>
</div>
