.image-container {
  transition: all 1s ease-in-out;
}
.image-container:hover {
  transform: scale(1);
}

.title-container {
  text-align: center;
}

.title-container div {
  font-family: 'Alfa Slab One';
  color: #bf9456;
  font-size: 2rem;
  font-weight: lighter;
}
