---
import Image from '@/components/my_images/Image.astro';
---

<div id="modal-warning" uk-modal bg-close="false">
  <div class="uk-modal-dialog uk-modal-body text-justify">
    <div class="flex justify-center">
      <Image
        src="img/Katapiercing_logo.png"
        alt="Logo de la empresa"
        width={230}
      />
    </div>
    <h2 class="uk-modal-title mt-0 text-center">
      Aviso de Contenido Restringido
    </h2>
    <p class="mt-4 text-xl">
      Este sitio web contiene material gráfico de índole sexual y está
      estrictamente restringido a personas mayores de 18 años. El contenido aquí
      presente no es apto para menores de edad y puede ser considerado
      inapropiado para algunos usuarios.
    </p>
    <p class="my-5 text-xl">
      Al acceder a esta página, confirmas que tienes al menos 18 años de edad,
      que comprendes que el material gráfico puede incluir representaciones
      explícitas de actividades sexuales y que accedes de manera voluntaria y
      consciente de la naturaleza del contenido
    </p>
    <p class="uk-text-right">
      <button
        class="back-btn uk-button uk-button-danger uk-modal-close"
        type="button"
      >
        Salir
      </button>
      <button
        class="continue-btn uk-button uk-button-primary uk-modal-close"
        type="button"
      >
        Entrar
      </button>
    </p>
  </div>
</div>
