<div id="modal-warning" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Advertencia: contenido explícito</h2>
    <p class="mt-4">
      Antes de continuar, queremos informarle que las imágenes que estás a punto
      de visualizar contienen material explícito que puede no ser adecuado para
      todos los públicos.
    </p>
    <p class="my-5">
      Esta advertencia se ofrece para asegurar que estás completamente informado
      antes de proceder. Si prefieres no ver este tipo de contenido, te
      recomendamos regresar a la página principal.
    </p>
    <p class="mb-4">
      Entendemos la importancia de mantener un ambiente seguro y respetuoso para
      todos nuestros visitantes. Si decides continuar, por favor ten en cuenta
      el contenido sensible que podría estar presente en las siguientes
      imágenes. Gracias por tu comprensión y respeto hacia nuestras políticas.
    </p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">
        Volver
      </button>
      <button
        class="continue-btn uk-button uk-modal-close bg-[#d5b981] text-white"
        type="button"
      >
        Continuar
      </button>
    </p>
  </div>
</div>
