.social-media {
  display: flex;
  text-align: center;
  padding: 0 2.5rem;
  justify-content: center;
}

.divide-line {
  margin: auto;
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.copy-size {
  font-size: 0.77rem;
}

.contact-inf div {
  font-family: 'Open Sans';
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.map-container {
  border: 0.3rem white solid;
}

@media (width < 45.625rem) {
  .map-container iframe {
    width: 20rem;
    height: 20rem;
  }
}

@media (width < 40rem) {
  .social-media {
    margin-top: 1rem;
  }
}

@media (width <= 31.25rem) {
  .map-container iframe {
    width: 18.75rem;
    height: 18.75rem;
  }
}
