.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.company-name {
  font-family: var(--title-font);
  font-size: 1.1rem;
  color: #ffe09ed0;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.show {
  transition: 4s ease-in-out;
  display: block;
}
@media (width > 64rem) {
  #menuContent {
    display: none;
  }
}
