---
import SitesMenu from '@/components/header/navbar/sitesMenu/SitesMenu.astro';
import Burguer from '@/components/my_icons/Burguer.astro';
import Image from '@/components/my_images/Image.astro';
import './navbar.css';
---

<nav
  class="w-full px-6 py-3 text-white shadow-md bg-opacity-70 bg-[#1b1f24] fixed z-50"
>
  <div class="flex items-center justify-between mx-auto max-w-7xl">
    <a
      class="flex items-center text-white hover:no-underline hover:text-inherit"
      href="/"
    >
      <Image
        src="img/Katapiercing_logo.png"
        width={70}
        alt="logo"
        class="bg-white rounded-full px-1"
      />
    </a>
    <div class="hidden lg:block">
      <SitesMenu />
    </div>
    <button
      id="burguerButton"
      class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
      type="button"
    >
      <span
        class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        <Burguer />
      </span>
    </button>
  </div>
  <div id="menuContent" class="p-5 text-center hidden">
    <SitesMenu />
  </div>
</nav>

<script>
  document.addEventListener('astro:page-load', () => {
    const burguerButton = document.querySelector('#burguerButton');

    burguerButton?.addEventListener('click', () => {
      document.querySelector('#menuContent')?.classList.toggle('show');
    });
  });
</script>
