---
import './genital.css';
---

<div>
  <div class="genital-title text-center">Piercing genitales</div>
  <p class="genital-subtitle text-center mb-4 -mt-1">
    Nuestros piercing más especiales
  </p>
  <div
    class="flex flex-col sm:flex-col md:flex-row justify-center items-center"
  >
    <div>
      <div class="genital-description m-auto">
        Kata también se especializa en la realización de
        <span class="font-bold text-[#d5b981]">piercings genitales</span>, tanto
        masculinos como femeninos. Su principal prioridad es la de proporcionar
        una experiencia <span class="font-bold text-[#d5b981]">segura</span> y <span
          class="font-bold text-[#d5b981]">cómoda</span
        >, utilizando técnicas avanzadas y material esterilizado de la más alta
        calidad. Debido a su amplia experiencia como anillador, Kata ofrece una
        amplia variedad de opciones y estilos para que cada cliente pueda elegir
        el piercing que mejor se adapte a sus preferencias y necesidades. Ya sea
        que busques un <span class="font-bold text-[#d5b981]"
          >look discreto</span
        > o algo más <span class="font-bold text-[#d5b981]">llamativo</span>,
        Kata estará presente para asesorarte y asegurarse de que quedes
        completamente satisfecho con el restultado
      </div>
    </div>
    <div class="genital-list">
      <ul class="list-disc">
        <li>Vertical Hood</li>
        <li>Nipple piercing</li>
        <li>Christina Piercing</li>
        <li>Horizontal Hood Piercing</li>
        <li>Inner Labial Piercing</li>
        <li>Outer Labial Piercing</li>
        <li>Piercing Principe Alberto</li>
        <li>Ampallang Piercing</li>
        <li>Apadravya Piercing</li>
        <li>Frenum piercing</li>
      </ul>
    </div>
  </div>
  <div class="my-10 text-center">
    <a
      type="button"
      class="redirect-genital-gallery"
      href="/genitals-piercing"
      data-astro-reload>¡Mira nuestros trabajos!</a
    >
  </div>
</div>
